[mysqld]

CREATE USER 'jrossett'@'%' IDENTIFIED BY '$MYSQL_ADMIN_PASSWORD';
GRANT ALL PRIVILEGES ON *.* TO 'jrossett'@'%' WITH GRANT OPTION;

CREATE USER 'user'@'%' IDENTIFIED BY '$MYSQL_USER2_PASSWORD';
GRANT SELECT, ON mydatabase.* TO 'user'@'%';

datadir=/var/lib/mysql